@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import "variables.less";
@import "fonts.less";
@import "index.less";

/*
|--------------------------------------------------------------------------
| Basic Attributes
|--------------------------------------------------------------------------
*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: @white;
}

* {
	outline: none !important;
	.helvetica();

	&:focus,
	&:hover,
	&:active {
		outline: none !important;
	}
}

a {
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
